extends ../layout/index
block tables
    // Begin Page Content
    .container-fluid
        // Page Heading
        h1.h3.mb-2.text-gray-800 Tabla
        //- p.mb-4
        //-     | DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the 
        //-     a(target='_blank', href='https://datatables.net') official DataTables documentation
        //-     | .
        // DataTales Example
        .card.shadow.mb-4
            .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Datos de las láminas registradas
            .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th PRAM
                                th Ancho
                                th Largo
                                th Espesor
                                th Tcinta
                                th Tbaño
                                th Aluminio efectivo
                                th Hierro
                                th Velocidad
                        tbody
                            if(laminas)
                                each lamina in laminas
                                    tr
                                        td=lamina.lamina_id
                                        td=lamina.pram
                                        td=lamina.ancho
                                        td=lamina.largo
                                        td=lamina.espesor
                                        td=lamina.temperatura_cinta
                                        td=lamina.temperatura_bano
                                        td=lamina.al_efectivo
                                        td=lamina.hierro
                                        td=lamina.velocidad
                            
    // /.container-fluid
    // End of Main Content
