extends ../layout/index
block tables
    // Pasa el array de las laminas al javascript file
    script(type='text/javascript').                                                   
        var data =!{JSON.stringify(laminas)};
    // Begin Page Content
    .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-2.text-gray-800 Datos
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
                i.fas.fa-download.fa-sm.text-white-50
                |  Generar reporte
        //- p.mb-4
        //-     | DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the 
        //-     a(target='_blank', href='https://datatables.net') official DataTables documentation
        //-     | .
        // DataTales Example
        .card.shadow.mb-4
            .card-header.py-3
                h6.m-0.font-weight-bold.text-primary Datos de las láminas registradas
            .card-body
                form.user(action="/tabla", method="POST")
                    .row
                        .col-lg-2.mb-4
                            p Selecciona un mes
                        .col-lg-4.mb-4
                            input#seleccionMes.form-control(type='month', name="mes", value=fechaPicker)
                        .col-lg-4.mb-4
                            button.btn.btn-secondary.btn-icon-split(type='submit', value="Buscar")
                                span.icon.text-white-50
                                    i.fas.fa-search
                                span.text|Buscar
                hr
                .table-responsive
                    table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Linea producción
                                th PRAM
                                th Ancho
                                th Largo
                                th Espesor
                                th Tcinta
                                th Tpaila
                                th Aluminio efectivo
                                th Velocidad
                                th Dia
                        tbody#registros
                            if(laminas)
                                each lamina in laminas
                                    tr
                                        td=lamina.lamina_id
                                        td=lamina.linea_produccion.nombre
                                        td=lamina.pram
                                        td=lamina.ancho
                                        td=lamina.largo
                                        td=lamina.espesor
                                        td=lamina.temperatura_cinta
                                        td=lamina.temperatura_paila
                                        td=lamina.al_efectivo
                                        td=lamina.velocidad
                                        td=lamina.fecha
    // /.container-fluid
    // End of Main Content
