extends ../layout/index
block index
    // Pasa el array de las laminas al javascript file
    script(type='text/javascript').                                                  
        var indicesExistentes = !{JSON.stringify(dias)};
        var lineasProduccion = !{JSON.stringify(lineas_produccion)};
    .container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Ingreso de datos
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#', data-toggle='modal', data-target='#finJornadaModal')
                i.fas.fa-clipboard-list.fa-sm.text-white-50
                |  Finalizar jornada
        // - Ingreso de Datos -
        .row
            .col-lg-6.offset-lg-3
                .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                        h6.m-0.font-weight-bold.text-primary Datos
                    // Card Body
                    .card-body
                        form.user(action='/inicio', method="POST")
                            .form-group
                                select.form-control.form-control-user(name="linea_id", placeholder= "Linea", required)
                                    option(value = "", disabled, selected)|Linea de producción
                                    if(lineas_produccion)
                                        each linea in lineas_produccion
                                            option(value=linea.linea_id, class='lp')=linea.nombre
                            .form-group
                                input#exampleInputEmail.form-control.form-control-user(type='text', placeholder='PRAM', name="pram", value=pram, required)
                            .form-group.row
                                .col-sm-4.mb-3.mb-sm-0
                                    input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Ancho', name="ancho", value=ancho, step=0.001, required)
                                .col-sm-4.mb-3.mb-sm-0
                                    input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Largo', name="largo", value=largo, step=0.001, required)
                                .col-sm-4
                                    input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Espesor', name="espesor", value=espesor, step=0.001, required)
                            .form-group.row
                                .col-sm-6.mb-3.mb-sm-0
                                    input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Temperatura cinta', name="temperatura_cinta", value=temperatura_cinta, step=0.001, required)
                                .col-sm-6
                                    input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Temperatura paila', name="temperatura_paila", value=temperatura_paila, step=0.001, required)
                            .form-group
                                input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Aluminio efectivo', name="al_efectivo", value=al_efectivo, step=0.001, required)
                            .form-group
                                input#exampleInputEmail.form-control.form-control-user(type='number', placeholder='Velocidad', name="velocidad", value=velocidad, step=0.001, required)
                            .form-group.text-center
                                button.btn.btn-success.btn-icon-split(type="submit", value="Guardar datos")
                                    span.icon.text-white-50
                                        i.fas.fa-check
                                    span.text Guardar datos
                        .col-lg-12
                            if(errores)
                                each error in errores
                                    .card.bg-danger.text-white-shadow
                                        .card-body.erroresMS.text-center.text-white=error.mensaje
                            if(successMessage)
                                .card.bg-success.text-white-shadow
                                    .card-body.erroresMS.text-center.text-white=successMessage
    // Logout Modal
    #finJornadaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Para finalizar la jornada, ingresa los siguientes valores
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    form#finalJornada.user(action='/valoresFinales', method="POST")
                        .form-group
                            select.form-control.form-control-user(name="linea_id", placeholder= "Linea", required)
                                option(value = "", disabled, selected)|Linea de producción
                                    if(lineas_produccion)
                                        each linea in lineas_produccion
                                            option(value=linea.linea_id, class= 'lp')=linea.nombre
                        .form-group.row
                            .col-sm-6.mb-3.mb-sm-0
                                input#peso_aluminio.form-control.form-control-user(type='number', placeholder='Al wt.', name="peso_aluminio", value=ancho, step=0.001, required)
                            .col-sm-6.mb-3.mb-sm-0
                                input#peso_hierro.form-control.form-control-user(type='number', placeholder='Fe wt.', name="peso_hierro", value=largo, step=0.001, required)
                        .form-group
                            input#consumo_zinc.form-control.form-control-user(type='number', placeholder='Consumo de Zinc', name="consumo_zinc", value=al_efectivo, step=0.001, required)
                        .form-group
                            input#dross_real.form-control.form-control-user(type='number', placeholder='Dross real', name="dross_real", value=hierro, step=0.001, required)
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                            input.btn.btn-success(type='submit', value="Finalizar jornada")